In [8]:
import pandas as pd

a = [1,7,5,1,8,9,6,2,]

a
adf = pd.DataFrame(a)

adf

   0
0  1
1  7
2  5
3  1
4  8
5  9
6  6
7  2